body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
	display: grid;
	background-color: blanchedalmond;
	padding: 15px 20px;
	grid-template: repeat(4, 1fr) / repeat(4, 1fr);
	justify-items: center;
}

.screen {
	grid-column: 1 / 5;
	padding: 8px;
	background-color: olivedrab;
	color: whitesmoke;
	width: 87%;
	border-radius: 5px;
	text-align: right;
}

.digits,
.vertical-keys,
.horizontal-keys,
.other-keys {
	padding: 20px;
	background-color: lightgrey;
	border-radius: 5px;
	margin: 10px;
}

.plus {
	grid-row: 2 / 4;
	grid-column: 4/5;
	padding-top: 100%;
}

.cancel {
	font-size: 8px;
}

.enter {
	grid-row: 4 / 6;
	grid-column: 4/5;
	padding-top: 100%;
}
.vertical-keys {
}
